/*.picture-under{
    background: #01311F;
    border-radius: 6px;
    color: #F3F2ED;
}

.container{
    height: 100vh;
}

.row {
    height: 50%;
}


.col {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.col h3 {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    right: 0;
    top: 0;
}


.col h2 {
bottom: 0;
left: 0;
margin: auto;
max-height: 90%;
max-width: 90%;
position: absolute;
right: 0;
top: 0;
}

.col img {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 6px;
}*/

body {
    --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00;
    --background: #01311F;
    --accent: #f9e4c7;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--accent);
    white-space: pre-line;
    scroll-behavior: smooth;
}

* {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: center;
    margin: 100px 0 40px;
}

h2 {
    font-weight: 400;
    margin: 50px 0 10px;
}

p {
    margin: 0 0 30px 0;
    font-size: 18px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
/*    background-image: radial-gradient( rgba(0, 0, 0, 0) 1px, var(--background) 1px );*/
    background-size: 4px 4px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    font-size: 14px;
    line-height: 14px;
}

    footer::before {
        display: block;
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
        height: 1px;
        background: var(--accent);
        opacity: 0.2;
    }

    footer svg {
        margin-right: 20px;
    }

    footer a {
        text-decoration: none;
        color: var(--accent);
    }

code {
    font-family: input-mono, monospace;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: var(--background);
}

html {
    scroll-snap-type: y mandatory;
}

h1 {
    margin: 0;
    font-weight: 700;
    /*    left: calc(50% + 130px);*/
    letter-spacing: -3px;
    line-height: 1.2;
    text-align: center;
    /*    margin: 100px 0;*/
    margin: 0;
    color: var(--accent);
/*    left: calc(50% + 130px);*/
    top: calc(25%);
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    position: absolute;
}

h2 {
    margin: 0;
    color: var(--accent);
/*    left: calc(50% + 130px);*/
    top: calc(30%);
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.2;
    position: absolute;
}

h3 {
    margin: 0;
    color: var(--accent);
    /*    left: calc(50% + 130px);*/
    top: calc(40%);
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.2;
    position: absolute;
}

section {
    margin-left: 1%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    perspective: 500px;
}

    section > div {
        width: 75vw;
        height: 85vh;
        max-height: 90vh;
        margin: 20px;
        background: var(--background);
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        vertical-align: middle;
    }

img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1vw;
    vertical-align: middle;
    width: 95%;
    height: auto;
    object-fit: cover;
    margin: 1%;
}

.wide{
    width: 100%;
    height: auto;
}

.tall{
    width: auto;
    height: 100%;
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--accent);
    bottom: 100px;
}

.scrollDown {
    position:relative;
    transition: .5s;
    border-radius: 100%;
    bottom: -80%;
    left: 44%;
}

    .scrollDown:hover {
        /*        color: #b19406;*/
        background: #304529;
    }